<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSV Upload with HTMX</title>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.2"></script> -->
    <script src="htmx/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="css/pico.min.css" />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <h1>Upload CSV Files for Configuration</h1>
        <p>Select relevant .csv files and apply them to this device.</p>
      </hgroup>
    </header>
    <main class="container">
      <div class="grid">
        <div>
          <hgroup>
            <h3>PTP Settings</h3>
            <p>using multicast delay-request</p>
          </hgroup>
        </div>
        <div>
          <form id="ptp" hx-post="/base-setup" hx-swap="none">
            <fieldset role="group">
              <input type="number" name="domain" min="0" max="127" />
              <div>
              <button type="submit">Apply</button>
              <img id="spinner" class="htmx-indicator" src="svg/bars.svg" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="grid">
        <div>
          <hgroup>
            <h3>Upload CSV for Processors</h3>
            <p>Upload Processing Chain config here</p>
          </hgroup>
        </div>
        <div>
          <form
            id="proc"
            hx-encoding="multipart/form-data"
            hx-post="/processor-config"
            hx-swap="none"
          >
            <fieldset role="group">
              <input type="file" name="file" />
              <div>
              <button>Upload</button>
              <img id="spinner" class="htmx-indicator" src="svg/bars.svg" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="grid">
        <div>
          <hgroup>
            <h3>Upload CSV for Receivers</h3>
            <p>Set Receiver Switching Modes, Capabilities and Labels</p>
          </hgroup>
        </div>
        <div>
          <form
            id="rx"
            hx-encoding="multipart/form-data"
            hx-post="/receiver-config"
            hx-swap="none"
          >
            <fieldset role="group">
              <input type="file" name="file" />
              <div>
              <button>Upload</button>
              <img id="spinner" class="htmx-indicator" src="svg/bars.svg" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="grid">
        <div>
          <hgroup>
            <h3>Upload CSV for Senders</h3>
            <p>Set Sender Capabilities, Labels and addresses</p>
          </hgroup>
        </div>
        <div>
          <form
            id="tx"
            hx-encoding="multipart/form-data"
            hx-post="/sender-config"
            hx-swap="none"
          >
            <fieldset role="group">
              <input type="file" name="file" />
              <div>
              <button>Upload</button>
              <img id="spinner" class="htmx-indicator" src="svg/bars.svg" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </main>
    <!-- <script> -->
    <!--   htmx.on("#proc", "htmx:xhr:progress", function (evt) { -->
    <!--     htmx -->
    <!--       .find("#progress") -->
    <!--       .setAttribute("value", (evt.detail.loaded / evt.detail.total) * 100); -->
    <!--   }); -->
    <!--   htmx.on("#rx", "htmx:xhr:progress", function (evt) { -->
    <!--     htmx -->
    <!--       .find("#progress") -->
    <!--       .setAttribute("value", (evt.detail.loaded / evt.detail.total) * 100); -->
    <!--   }); -->
    <!--   htmx.on("#tx", "htmx:xhr:progress", function (evt) { -->
    <!--     htmx -->
    <!--       .find("#progress") -->
    <!--       .setAttribute("value", (evt.detail.loaded / evt.detail.total) * 100); -->
    <!--   }); -->
    <!-- </script> -->
  </body>

  <style>
    .htmx-indicator {
      opacity: 0;
      transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator {
      opacity: 1;
    }
    .htmx-request.htmx-indicator {
      opacity: 1;
    }
  </style>
</html>
